.advantages-block {
    margin: 80px 50px;
}

.advantages-title {
    margin-left: 100px;
    font-size: 2rem;
    font-weight: 600;
    max-width: 800px;
    line-height: 40px;
}

.advantages-story {
    margin-left: 100px;
    max-width: 600px;
    margin-top: 25px;
}

.our-advantages-title {
    margin: 70px 0 0 100px;
    font-size: 1.8rem;
    font-weight: 600;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 30px 110px 70px 110px;
}

.advantage {
    display: flex;
    gap: 20px;
    height: 72px;
}

.advantage .text {
    display: flex;
    align-items: center;
}

.add-title-1,
.add-title-2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.add-title-2 {
    color: red;
    font-weight: bold;
    margin-top: 25px;
}

@media (max-width: 1200px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 920px) {
    .advantages {
        margin: 30px 0 70px 0;
    }

    .advantages-title,
    .advantages-story,
    .our-advantages-title {
        margin-left: 0;
    }

    .advantages-title,
    .our-advantages-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 700px) {
    .advantages-block {
        margin: 80px 15px;
    }

    .advantages {
        grid-template-columns: 1fr;
        margin-left: 30px;
        gap: 50px;
    }

    .advantage .text {
        max-width: 260px;
    }

    .add-title-1,
    .add-title-2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px) {
    .advantages {
        margin-left: 15px;
    }

    .advantages-title,
    .our-advantages-title {
        font-size: 1.3rem;
        line-height: 30px;
    }
}