.title-also {
    font-size: 2.5rem;
    font-weight: bold;
    border-top: 2px dashed rgb(75, 75, 75);
    text-align: center;
    padding-top: 80px;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15px;
    gap: 50px;
    justify-content: center;
}

.custom-card {
    height: 300px;
    width: 550px;
    text-decoration: none;
    background-image: url('../photos/palne.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.3s;
}

.custom-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.674);
    gap: 10px;
}

.custom-card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}

.custom-card:hover {
    scale: 1.05;
    transition-duration: 0.3s;
}

.custom-card-logo{
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    filter: invert(1);
}

.logo_1{
    background-image: url('../photos/test.png');
}

.logo_2{
    background-image: url('../photos/gas-station.png');
}

@media (max-width: 1250px) {
    .custom-card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .title-also {
        font-size: 1.8rem;
    }
    .custom-card{
        height: 200px;
    }

    .custom-card-logo{
        height: 40px;
        width: 40px;
    }
    .custom-card-title{
        font-size: 1.1rem;
    }
}