.services-cards {
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 80px 50px;
}

.about-services-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 110px;
}

.about-services-cards .title {
    font-size: 2rem;
    font-weight: 600;
    width: 500px;
    line-height: 35px;
    margin-bottom: 10px;
}

.about-services-cards .text {
    width: 750px;
}

.castom-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}

.custom-card-img {
    width: 500px;
    height: 300px;
    object-position: center;
    object-fit: cover;
}

.custom-card-img-wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 50px;
}

.icon {
    filter: invert(1)
}

.overlay div {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.custom-card {
    transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}

@media (max-width: 1150px) {
    .castom-cards {
        grid-template-columns: 1fr;
        margin: 0 110px;
    }

    .custom-card-img {
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
}

@media (max-width: 970px) {
    .about-services-cards {
        margin: 0 15px;
    }

    .about-services-cards .text {
        width: 100%;
    }

    .services-cards {
        padding: 80px 0px;
    }
}

@media (max-width: 710px) {
    .castom-cards {
        margin: 0 15px;
    }

    .about-services-cards .title {
        width: 100%;
    }

    .overlay {
        flex-direction: column;
        padding: 0 15px;
    }

    .overlay div {
        text-align: center;
    }
}