.main {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
}

.root {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.attention-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 50px;
    min-height: 500px;
}

.attention-photo {
    background-image: url("../photos/var.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.attention-text {
    flex: 1;
    font-size: 1.3rem;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 2px dashed gray;
}

.addition {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 70px 120px;
    text-align: center;
}

.leasing-container {
    display: flex;
    gap: 70px;
    padding: 0 150px 100px 150px;
}

.left {
    min-width: 320px;
    flex: 2;
}

.left .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.left .text {
    font-size: 1.1rem;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.left .text > div:first-child{
    margin-bottom: 20px;
}

.right {
    flex: 5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(219, 219, 219);
    font-size: 16px;
    background-color: transparent;
}

textarea {
    min-height: 150px;
    width: 100%;
    resize: vertical;
}

.custom-btn {
    width: 50%;
    background-color: rgb(129, 129, 129);
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    cursor: pointer;
    transition-duration: 0.3s;
}

.custom-btn:hover {
    background-color: rgb(157, 157, 157);
    transition-duration: 0.3s;
}

input[type="file"] {
    display: none;
}

@media (max-width: 1279px) {
    .leasing-container {
        padding: 0 70px 100px 70px;
    }
}

@media (max-width: 1079px) {
    .leasing-container {
        padding: 0 30px 100px 30px;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 1000px) {
    .attention-container {
        flex-direction: column;
        height: auto;
    }

    .attention-photo {
        flex: none;
        height: 400px;
    }

    .attention-text {
        flex: none;
    }
}

@media (max-width: 850px) {
    .attention-text {
        font-size: 1.1rem;
    }

    .addition {
        font-size: 1.2rem;
        margin: 70px 0;
    }

    .attention-container {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .main {
        padding: 100px 15px;
    }

    .main-title {
        font-size: 2rem;
        text-align: center;
    }

    .root {
        font-size: 1rem;
    }

    .attention-text {
        font-size: 1rem;
    }
    
    .addition{
        font-size: 1.05rem;
    }

    .leasing-container{
        padding: 0 0 100px 0;
    }

    .left .title{
        text-align: center;
    }

}

@media (max-width: 400px) {
    .attention-container{
        gap: 25px;
    }
    .addition{
        margin: 80px 0;
    }
    .attention-photo{
        height: 250px;
    }

    .left{
        min-width: 0px;
    }

    .left .text{
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    .main-title{
        font-size: 1.5rem;
    }

    .root{
        font-size: 0.8rem;
    }

    .attention-text{
        font-size: 0.8rem;
    }

    .addition{
        font-size: 0.9rem;
    }

    .left .title{
        font-size: 1.4rem;
    }

    .custom-btn{
        width: 90%;
    }
}