.business {
    display: grid;
    grid-template-columns: 5fr 3fr 1fr;
    height: 400px;
}

.business .photo {
    object-fit: cover;
    object-position: center;
}

.sales {
    background-color: #ffffff;
}

.business .photo,
.sales,
.leasing {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.leasing {
    height: 400px;
    background-color: #eeeeee;
    transform: skew(-20deg);
    margin: 0 -130px 0 -100px;
}

.leasing-help {
    transform: skew(20deg);
}

.sales-help {
    padding: 50px 160px 0 50px;
}

.leasing-help {
    padding: 50px 90px 0 100px;
}

.sales-help,
.leasing-help {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.leasing-title,
.sales-title {
    font-size: 2rem;
    font-weight: 600;
}

.sales-button,
.leasing-button {
    background-color: rgb(37, 37, 37);
    color: white;
    font-weight: 600;
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 13px;
    transition-duration: 0.3s;
}

.sales-button:hover,
.leasing-button:hover {
    background-color: rgb(0, 0, 0);
    transition-duration: 0.3s;
}

@media (max-width: 1230px) {
    .business .photo {
        display: none;
    }

    .business {
        grid-template-columns: 1fr;
        height: auto;
    }

    .leasing {
        height: auto;
    }

    .leasing-help {
        padding: 0;
    }

    .leasing {
        transform: skew(0deg);
        margin: 0;
        border-top: none;
    }

    .leasing-help {
        transform: skew(0deg);
    }

    .sales-help,
    .leasing-help {
        padding: 50px;
    }

    .sales-button,
    .leasing-button {
        width: auto;
        max-width: 700px;
    }
}

@media (max-width: 450px){
    .sales-help,
    .leasing-help {
        padding: 50px 20px;
    }
}