.img1{
    background-image: url("../photos/IMG-2107bf0e2aaef0070871ba7c40aa1279-V.jpg");
}

.img2{
    background-image: url("../photos/IMG-276a777b2f0b8df4285dd2841c25883b-V.jpg");
}

.img3{
    background-image: url("../photos/IMG-2b8247499ea4fa0b29d882daa17c96c6-V.jpg");
}

.img4{
    background-image: url("../photos/IMG-470f4d51f2a8c45a3895e8c937458cb0-V.jpg");
}

.collage {
    width: 100%;
    display: flex;
    padding: 70px 0 0 0;
}

.swiper {
    width: 100%;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper .swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100px;
    border-radius: 0;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.806);
    padding: 10px 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    background-color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

.swiper-slide {
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.find-out {
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 10px 0;
    text-align: center;
    text-align: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid white;
    transition-duration: 0.2s;
}

.find-out:hover {
    border-color: rgb(88, 102, 255);
    transition-duration: 0.2s;
}

.blur-copy {
    width: 550px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.blur-copy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.224);
}

.blur-copy .title, .blur-copy .text{
    color: white;
    width: 300px;
}

.blur-copy .title{
    font-size: 1.6rem;
}

.blur-copy .text{
    font-size: 1.2rem;
}

.swiper-1{
    width: 550px;
}

.item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.copy-swiper-pagination{
    display: none;
}

@media (max-width: 1700px){
    .swiper {
        height: 600px;
    }
}

@media (max-width: 1400px){
    .swiper {
        height: 500px;
    }
}

@media (max-width: 1023px){
    .swiper {
        height: 450px;
    }
    .blur-copy .title{
        font-size: 1.4rem;
    }
    
    .blur-copy .text{
        font-size: 1rem;
    }
    .blur-copy .title, .blur-copy .text, .find-out{
        width: 250px;
    }

    .swiper-1{
        width: 430px;
    }
    .copy-swiper-pagination{
        display: block;
    }

    .swiper .swiper-pagination-bullet {
        height: 5px;
        width: 40px;
    }

}

@media (max-width: 830px){
    .swiper{
        width: 0;
    }
    .swiper-1{
        width: 100%;
    }

    .blur-copy .title{
        font-size: 1.8rem;
    }
    
    .blur-copy .text{
        font-size: 1.2rem;
    }
    .blur-copy .title, .blur-copy .text, .find-out{
        width: 270px;
    }
}

@media (max-width: 450px){
    .blur-copy .title, .blur-copy .text, .find-out{
        width: 80%;
    }
}

@media (max-width: 300px){
    .blur-copy .title{
        font-size: 1.5rem;
    }
    
    .blur-copy .text{
        font-size: 1rem;
    }
    .blur-copy .title, .blur-copy .text, .find-out{
        width: 95%;
    }
}