.footer,
.product,
.service,
.about-company,
.contacts,
.media {
    display: flex;
    flex-direction: column;
}

.footer,
.main-point,
.footer-menu {
    color: white;
}

.product,
.service,
.about-company,
.contacts,
.footer-top,
.header-menu {
    gap: 20px;
}

.footer {
    padding: 40px 100px 30px 100px;
    gap: 55px;
    background-color: #1d2228;
}

.footer-top,
.header-menu,
.footer-media {
    display: flex;
}

.main-point,
.contact-with-us,
.footer-menu {
    text-decoration: none;
}

.main-point,
.contact-with-us,
.title-footer {
    font-weight: bold;
}

.header-menu {
    gap: 70px;
}

.main-point,
.title-footer {
    font-size: 1.3rem;
}

.footer-menu,
.rights,
.contact-with-us {
    font-size: 1rem;
}

.contact-with-us,
.contact-with-us:hover {
    transition-duration: 0.3s;
}

.inverted {
    filter: invert(1);
}

.media {
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

.footer-media {
    gap: 40px;
}

.title-footer {
    text-align: center;
}

.contact-with-us {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.contact-with-us:hover {
    background-color: rgb(186, 207, 226);
}

.arrow {
    display: none;
}

@media (max-width: 1200px) {
    .main-point {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px 30px 30px 30px;
    }

    .header-menu {
        gap: 30px;
    }
}

@media (max-width: 820px) {

    .header-menu,
    .footer-top {
        flex-direction: column;
    }

    .footer-menu {
        display: none;
    }

    .media {
        margin: 50px 0 0 0;
    }

    .nav-point {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        display: block;
        background-image: url("../photos/arrow-down-sign-to-navigate.png");
        background-size: cover;
        background-position: center;
        filter: invert(1);
        width: 30px;
    }
}