.semi-trailer-container {
    background-color: rgb(247, 247, 247);
    padding: 30px 0 70px 0;
}

.semi-trailer-blocks-wrapper {
    margin: 0 70px;
    box-shadow: -6px 0 7px -7px rgba(0, 0, 0, 0.12), 6px 0 7px -7px rgba(0, 0, 0, 0.12);
}

.semi-trailer-block-1 {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    margin: 0 auto;
    gap: 20px;
}

.semi-trailer-block-1 .title {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.semi-trailer-block-1 .title .text {
    margin: auto 0;
    font-size: 2rem;
    font-weight: 600;
}

.img-wrapper {
    padding: 13px;
    border-radius: 100%;
    border: 2px solid black;
    height: 65px;
}

.middle-img {
    max-width: 75%;
    margin: 0 auto;
    border-top: 6px solid rgb(231, 231, 231);
    border-bottom: 6px solid rgb(231, 231, 231);
}

.learn-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.learn-about-buttons {
    display: flex;
    column-gap: 25px;
    row-gap: 10px;
}

.learn-about-buttons>a {
    flex: 1;
    text-align: center;
    background-color: rgb(150, 150, 150);
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
    transition-duration: 0.3s;
}

.learn-about-buttons>a:hover {
    background-color: rgba(150, 150, 150, 0.642);
    transition-duration: 0.3s;
}

@media (max-width: 1150px){
    .semi-trailer-blocks-wrapper {
        margin: 0;
        box-shadow: 0;
    }
}

@media (max-width: 980px) {
    .semi-trailer-block-1 {
        margin: 0 15px;
    }

    .middle-img {
        max-width: 100%;
    }
}

@media (max-width: 430px) {
    .semi-trailer-block-1 .title .text {
        font-size: 1.4rem;
    }

    .learn-about-buttons {
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    .semi-trailer-block-1 .title .text {
        font-size: 1.2rem;
    }
}

.introduction{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0 100px 200px;
}

.introduction .title{
    font-size: 2rem;
    font-weight: 600;
    width: 650px;
    line-height: 35px;
}

.introduction .text{
    width: 800px;
}

@media (max-width: 1150px){
    .introduction .title, .introduction .text{
        width: 100%;
    }
    .introduction{
        padding: 50px 15px 70px 15px;
    }
}

@media (max-width: 980px){
    .introduction .title{
        font-size: 1.4rem;
    }
}
.banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1079px) {
    .banner {
        height: 350px;
    }
}

@media (max-width: 800px) {
    .banner {
        height: 270px;
    }
}

@media (max-width: 630px) {
    .banner {
        height: 230px;
    }
}

.container-little-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 65px 250px 100px 250px;
}

.container-little-about .title {
    font-size: 2.3rem;
    font-weight: bold;
}

.container-little-about .text {
    padding-right: 300px;
    line-height: 25px;
}

.container-about-adr {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    gap: 50px;
}

.container-about-adr img {
    height: 500px;
    width: 750px;
    object-fit: cover;
    object-position: center;
}

.container-text {
    flex: 3;
    margin-right: 50px;
}

.container-text .title {
    font-size: 2rem;
    font-weight: 600;
}

.container-text ol {
    font-size: 1.1rem;
    line-height: 25px;
}

@media (max-width: 1279px) {
    .container-about-adr {
        flex-direction: column;
        margin: 0 15px 70px 15px;
    }

    .container-about-adr img {
        height: 100%;
        width: 100%;
    }

    .container-text {
        margin: 0 20px;
    }

    .container-little-about .text {
        padding-right: 0;
    }
}

@media (max-width: 1079px) {
    .container-little-about {
        padding: 65px 15px 100px 15px;
    }
}

@media (max-width: 630px) {
    .banner {
        object-position: left;
    }

    .container-text .title {
        font-size: 1.6rem;
    }

    .container-text ol {
        font-size: 0.9rem;
    }

    .container-text {
        margin: 0;
    }

    .container-about-adr {
        gap: 40px;
    }
}

@media (max-width: 630px) {
    .container-little-about .title{
        font-size: 1.5rem;
    }

    .container-little-about .text{
        font-size: 0.9rem;
    }

    .container-text .title{
        font-size: 1.3rem;
    }

    .container-text ol {
        font-size: 0.9rem;
    }
}

.container-about-adr{
    background-color: rgb(233, 233, 233);
    padding: 70px 0;
    margin: 0;
}

.introduction .button{
    width: 200px;
    padding: 15px;
    text-align: center;
    background-color: rgb(203, 203, 203);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 0.2s;
}

.introduction .button:hover{
    background-color: rgb(183, 183, 183);
    transition-duration: 0.2s;
}

.banner{
    object-position: center;
}

@media (max-width: 1280px){
    .container-about-adr{
        padding: 70px 15px;
    }
}

@media (max-width: 550px){
    .introduction .button{
        width: auto;
    }
}