.banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-top: 62px;
}

@media (max-width: 1079px) {
    .banner {
        height: 350px;
    }
}

@media (max-width: 800px) {
    .banner {
        height: 270px;
    }
}

@media (max-width: 630px) {
    .banner {
        height: 230px;
    }
}
