footer {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    background-color: #1d2228;
    padding: 80px 100px;
    gap: 70px;
}

footer>div {
    display: flex;
    flex-direction: column;
    color: rgb(136, 136, 146);
    gap: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(136, 136, 146);
}

.quick,
.sm-title {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
}

.quick img {
    display: none;
    filter: invert(1);
    align-self: center;
    margin-left: auto;
}

.quick {
    display: flex;
    gap: 25px;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.quick-links a:hover {
    color: white;
    transition-duration: 0.2s;
}

.copyrights {
    margin-top: auto;
}

.copyrights a {
    color: rgb(0, 136, 255);
}

.company-block .text,
.copyrights {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.our-sm a {
    filter: invert(1);
    border-radius: 100%;
}

.our-sm {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.sm-title {
    text-align: center;
    letter-spacing: 1.5px;
}

.contact-button {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 136, 255);
    margin-top: auto;
    text-align: center;
    padding: 15px 20px;
    border-radius: 5px;
    letter-spacing: 1.5px;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 1270px) {
    footer {
        grid-template-columns: 2fr 1fr;
        padding: 35px 50px;
    }

    .company-block {
        grid-row: 3;
    }

    .quick img {
        display: block;
    }

    .quick-links {
        display: none;
    }

    .quick-links-block {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
        padding: 50px 20px;
        column-gap: 0px;
    }

    .company-block {
        grid-row: 4;
    }

    .quick,
    .sm-title {
        font-size: 1.3rem;
    }

    .quick-links,
    .company-block .text,
    .copyrights {
        font-size: 1rem;
    }
}